@import "style";

/* Navbar */
.navbar-light {
  background-color: $dark !important;

  .navbar-brand {
    color: white;
    @include hover-focus {
      color: white;
    }
  }

  .nav-item .active {
    color: $navbar-light-active-color;

  }

  .nav-link {
    color: white !important;
  }

}