$primary: #98c1d9;
$secondary: #e0fbfc;
$light: #fcfcfc;
$dark: #3d5a80;
$button: #0facf3;
$tooltip-kleur: #0C89C2;

$link-color: $button;
$navbar-light-color: black;
$navbar-light-active-color: $button;


$body-bg: white;

/* Importeer fontstack */
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

/* Font Variabelen */
$dosis: 'Dosis', sans-serif;
$open-sans: 'Open Sans', sans-serif;


/* Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";



/* General */
body {
  padding-top: 54px;
  overflow-x: hidden;
  font-family: $open-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


p {
  line-height: 1.75;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $dosis, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 30px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: none;
  font-family: $dosis, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.vet {
  font-weight: bold;
}


/* Navbar */
.navbar-light {
  .navbar-brand {
    color: black;

    @include hover-focus {
      color: black;
    }
  }
}


/* Header */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  background-color: rgba(black, 0.25);
  border-radius: 10px;
}


/* Footer */
.footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .footer-links {
    width: 20%;
    a{
      font-size: 20px;
    }
  }

  .footer-center {
    width: 60%;
    font-size:20px;
    a {
      text-decoration: none;
      color: white;
      padding: 5px;
    }
  }

  .footer-rechts{
    width: 20%;
    a{
      font-size: 20px;
    }
  }

}

@media screen and (max-width: 750px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer-links, .footer-center, .footer-rechts {
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      font-size: 18px;
    }
  }
}