$primary: #98c1d9;
$secondary: #e0fbfc;
$light: #fcfcfc;
$dark: #3d5a80;
$button: #0facf3;

$link-color: $button;


$body-bg: white;



/* Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";



/* General */
body {
  padding-top: 54px;
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

p {
  line-height: 1.75;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Navbar */
.navbar a {
  color: black;
}



/* Header */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Inleiding */

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .footer-links {
    width: 100%;
    a{
      font-size: 20px;
    }
  }

  .footer-center {
    width: 100%;
    font-size:20px;
    a {
        text-decoration: none;
      color: white;
      padding: 5px;
    }
  }

  .footer-rechts{
    width: 100%;
    a{
      font-size: 20px;
    }
  }

}

@media screen and (max-width: 750px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer-left, .footer-center, .footer-right {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      font-size: 18px;
    }
  }
}