@import "style";

/* Tooltip */

.tooltip-link {
  color: $tooltip-kleur;
}

/* Gemaakt door..*/
.gemaakt-door {
  padding: 0px;
}

/* Section heading h2 */
section h2.section-heading {
  margin-bottom: 50px;
}

ul li {
  margin-bottom: 5px;
}